<div class="text-center my-3">
  <a href="https://blockscout.com/poa/xdai/tokens/0xcaE40062a887581A3d1661d0AC2b481c32e3E938/token-holders">Token balances from Blockscout</a>.
  <br />
  Have you entered the top 150? <a href="mailto:team@autopia.co">Get in touch</a> to be addedto the Slack workspace on the next full moon 🌝
</div>

<script>
  $(function () {
        $('#balances').dataTable({info: false, paging: false, searching: false})
  })
</script>
<table id="balances" class="table mt-3" style="font-size: 0.95rem">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Ethereum/xDai address
      </th>
      <th>
        ID
      </th>
      <th>
        Slack member
      </th>
      <th>
        DAO shares
      </th>
      <th>
        DAO loot
      </th>
      <th>
        <%= aut(h: '1em', c: 'white') %>
      </th>
      <th>
        <%= xdai(h: '1em') %>
      </th>
    </tr>
  </thead>
  <%

Account.interesting.each_with_index { |account,i|
%>
  <tr>
    <th data-sort="<%=i%>">#<%=i+1%></th>
    <td><a target="_blank" href="https://blockscout.com/poa/xdai/address/<%=account.address_hash%>/tokens">
        <% if account.address_hash%>
          <span data-toggle="tooltip" title="<%=account.address_hash%>"><%=account.short_hash%></span>
        <% end %>
      </a></td>
    <td>
      <% if current_account %>
        <% if account.email || account.name %>
          <a <% if account.email %> class="text-white" <% end %> target="_blank" data-toggle="tooltip" title="<%=account.email || account.name%>" href="/admin/edit/Account/<%=account.id%>">
            <% if account.email %>
              <%= account.email.length > 25 ? account.email.split('@').first+'@&hellip;' : account.email %>
            <% else %>
              <%=account.name%>
            <% end %>
          </a>
        <% else %>
          <a target="_blank" href="/admin/edit/Account/<%=account.id%>"><i class="fa fa-question-circle"></i></a>
        <% end %>
      <% else %>
        <% if account.email || (account.name && !account.link) %>
          <i class="fa fa-check-circle"></i>
        <% elsif account.name && account.link %>
          <a href="<%=account.link%>"><%= account.name %></a>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if account.slack_id %>
        <% if current_account %>
          <i style="opacity: 0.2" class="fa fa-check-circle"></i>
        <% else %>
          <i class="fa fa-check-circle"></i>
        <% end %>
      <% elsif current_account && !account.name && i < 150 %>
        <i data-toggle="tooltip" title="Not a Slack member" class="fa fa-exclamation-triangle"></i>
      <% end %>
    </td>
    <td>
      <% if account.dao_shares %>
        <%= account.dao_shares %>
      <% end %>
    </td>
    <td>
      <% if account.dao_loot %>
        <%= account.dao_loot %>
      <% end %>
    </td>
    <td>
      <%= ((b = account.balance) < 0.001) ? BigDecimal.new(b.to_f, 3).to_f : number_with_delimiter(number_with_precision(b, precision: 2)) %>
    </td>
    <td>
      <%= ((b = account.balance_xdai(@aut_in_xdai)) < 0.01) ? BigDecimal.new(b.to_f, 3).to_f : number_with_delimiter(number_with_precision(b, precision: 2)) %>
    </td>
  </tr>
  <% } %>
</table>
