<div class="text-center my-3">
  <a href="https://blockscout.com/poa/xdai/tokens/0xcaE40062a887581A3d1661d0AC2b481c32e3E938/token-holders">Token balances from Blockscout</a>
</div>

<table class="table mt-3">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Ethereum/xDai address
      </th>
      <th>
        ID
      </th>
      <th>
        Slack member
      </th>
      <th>
        <%= aut %>
      </th>
      <th>
        <%= xdai %>
      </th>
    </tr>
  </thead>
  <%

Account.with_balance_or_slack_member.each_with_index { |account,i|
%>
  <tr>
    <th>#<%=i+1%></th>
    <td><a target="_blank" href="https://blockscout.com/poa/xdai/address/<%=account.address_hash%>/tokens"><%=account.address_hash%></a></td>
    <td>
      <% if current_account %>
        <% if account.email || account.name %>
          <a <% if account.email %> class="text-dark" <% end %> target="_blank" href="/admin/edit/Account/<%=account.id%>"><%=account.email || account.name%></a>
        <% else %>
          <a target="_blank" href="/admin/edit/Account/<%=account.id%>"><i class="fa fa-question-circle"></i></a>
        <% end %>
      <% else %>
        <% if account.email %>
          <i class="fa fa-check-circle"></i>
        <% elsif account.name %>
          <% if account.link %>
            <a href="<%=account.link%>"><%= account.name %></a>
          <% else %>
            <%= account.name %>
          <% end %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if account.slack_member %>
        <i class="fa fa-check-circle"></i>
      <% end %>
    </td>
    <td>
      <%= ((b = account.balance) < 0.001) ? b.to_f : number_with_delimiter(number_with_precision(b, precision: 2)) %>
    </td>
    <td>
      <%= ((b = account.balance_xdai(@aut_in_xdai)) < 0.01) ? b.to_f : number_with_delimiter(number_with_precision(b, precision: 2)) %>
    </td>
  </tr>
  <% } %>
</table>
