<%
@pair = TheGraph.query '1hive/uniswap-v2', %{
  {
   pair(id: "0xccace6772a98d8a3da115b63e816e500a12aad9a"){
       token0 {
         id
         symbol
         name
         derivedETH
       }
       token1 {
         id
         symbol
         name
         derivedETH
       }
       reserve0
       reserve1
       reserveUSD
       trackedReserveETH
       token0Price
       token1Price
       volumeUSD
       txCount
   }
  }
}
%>

<style>
  a.card { text-decoration: none; border: 0  }
  a.card:hover { background: #EEE7FC /*rgba(135,71,230,0.15)*/ }
  .stats > div { font-size: 1.5em; margin-bottom: 0.25em }
  @media(min-width: 768px) {
  .stats > div { display: inline-block;  }
  }
</style>

<% @aut_in_xdai = @pair['data']['pair']['token0']['derivedETH'].to_f %>
<% @aut_in_xdai_2 = number_with_precision @aut_in_xdai, precision: 2 %>
<div class="text-center mb-2">
  <a target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="1 AUT = <%= @aut_in_xdai_2 %> XDAI "  href="https://app.honeyswap.org/#/swap?inputCurrency=0xcae40062a887581a3d1661d0ac2b481c32e3e938&exactAmount=1" >
    <div class="card-body py-1 px-4" style="font-size: 3em">
      1 <%= aut %> = <%= @aut_in_xdai_2 %> <%= xdai %>
    </div>
  </a>
</div>

<div class="stats text-center">

  <% xdai_in_aut = (1/@aut_in_xdai).round(3) %>
  <div>
    <a target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="1 XDAI = <%= xdai_in_aut %> AUT "  href="https://app.honeyswap.org/#/swap?outputCurrency=0xcae40062a887581a3d1661d0ac2b481c32e3e938&exactAmount=1" >
      <div class="card-body py-1 px-2">
        1 <%= xdai %> = <%= xdai_in_aut %> <%= aut %>
      </div>
    </a>
  </div>


  <%
  @vol_24h = TheGraph.query '1hive/uniswap-v2', %{
    {
      pairDayDatas(first: 1, orderBy: date, orderDirection: desc, where: {pairAddress: "0xccace6772a98d8a3da115b63e816e500a12aad9a"}) {
        dailyVolumeUSD
      }
    }
  }
%>
  <% vol_24h = number_with_delimiter @vol_24h['data']['pairDayDatas'].first['dailyVolumeUSD'].to_f.round %>
  <div>
    <a target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="24hr volume = <%=vol_24h%> XDAI" href="https://info.honeyswap.org/pair/0xccace6772a98d8a3da115b63e816e500a12aad9a">
      <div class="card-body py-1 px-2">
        🌅
        <%= vol_24h %> <%= xdai %>
      </div>
    </a>
  </div>

  <% aut_liquidity = number_with_precision @pair['data']['pair']['reserve0'].to_f.round(2), precision: 2 %>
  <div>
    <a target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="AUT liquidity = <%= aut_liquidity %> AUT" href="https://info.honeyswap.org/pair/0xccace6772a98d8a3da115b63e816e500a12aad9a">
      <div class="card-body py-1 px-2">
        💦 <%= aut %>
        <%= aut_liquidity %>
      </div>
    </a>
  </div>

  <% xdai_liquidity = number_with_delimiter @pair['data']['pair']['reserve1'].to_f.round %>
  <div>
    <a target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="XDAI liquidity = <%= xdai_liquidity %> XDAI" href="https://info.honeyswap.org/pair/0xccace6772a98d8a3da115b63e816e500a12aad9a">
      <div class="card-body py-1 px-2">
        💦 <%= xdai %>
        <%= xdai_liquidity %>
      </div>
    </a>
  </div>

  <% total_supply = number_with_delimiter Account.balance.round %>
  <div>
    <a target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="Total supply = <%= total_supply %> AUT" href="https://blockscout.com/poa/xdai/tokens/0xcaE40062a887581A3d1661d0AC2b481c32e3E938">
      <div class="card-body py-1 px-2">
        💰 <%= total_supply %>
        <%= aut %>
      </div>
    </a>
  </div>

  <% market_cap = number_with_delimiter (10_000 * @aut_in_xdai).round %>
  <div>
    <a target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="Market cap = <%= market_cap %> XDAI" href="https://info.honeyswap.org/pair/0xccace6772a98d8a3da115b63e816e500a12aad9a">
      <div class="card-body py-1 px-2">
        💸 <%= market_cap %>
        <%= xdai %>
      </div>
    </a>
  </div>

</div>

<div class="stats text-center">

  <% token_holders = Account.with_balance.count %>
  <div>
    <a target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="<%=pluralize(token_holders, 'token holders')%>" href="https://blockscout.com/poa/xdai/tokens/0xcaE40062a887581A3d1661d0AC2b481c32e3E938/token-holders">
      <div class="card-body py-1 px-2">
        <i class="fa fa-user"></i> <%= token_holders %>
      </div>
    </a>
  </div>

  <% slack_members = Account.where(:slack_id.ne => nil).count %>
  <div>
    <span target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="<%=pluralize(slack_members, 'Slack member')%>">
      <div class="card-body py-1 px-2">
        <i class="fa fab fa-slack"></i> <%= slack_members %>
      </div>
    </span>
  </div>

  <% dao_members = Account.where(:dao_shares.ne => nil).count %>
  <div>
    <a target="_blank" class="text-dark card d-sm-inline-block" data-toggle="tooltip" title="<%=pluralize(dao_members, 'DAO member')%>" href="https://app.daohaus.club/dao/0x80de9a508443c68e825f683f9ebd2659600a678e">
      <div class="card-body py-1 px-2">
        <i class="fa fa-user-cog"></i> <%= dao_members %>
      </div>
    </a>
  </div>

</div>
