<div class="row justify-content-center">
  <div class="col-sm-6">
    <% form_for @account, '/accounts/edit', :multipart => true do |f| %>
      <%= f.text_block :name, disabled: true %>
      <%= f.email_block :email, disabled: true %>
      <%= f.text_block :username %>
      <%= f.text_block :address_hash, disabled: true %>
      <%= f.text_block :slack_id, disabled: true %>
      <%= f.text_block :dao_shares, disabled: true %>
      <%= f.text_block :dao_loot, disabled: true %>
      <%= f.password_block :password %>
      <%= f.submit_block %>
    <% end %>

    <h2 class="mt-3">Wallet addresses</h2>

    <% form_tag '/eth_addresses/add', :class => 'form-inline' do %>
      <div class="input-group">
        <%= text_field_tag :eth_address, class: 'form-control' %>
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Add address</button>
        </div>
      </div>
    <% end %>

    <table class="table mt-3" id="wallet_addresses">
      <% @account.eth_addresses.each { |eth_address| %>
      <tr>
        <td><%=eth_address.address_hash%></td>
        <td><a data-confirm="Are you sure?" class="btn btn-danger btn-sm" href="/eth_addresses/delete/<%=eth_address.address_hash%>"><i class="fa fa-times"></i></a></td>
      </tr>
      <% } %>
    </table>

  </div>
</div>
